<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["Chessss.styles.css"]" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="css/chessboard-1.0.0.min.css">

    <ImportMap />
    <link rel="icon" type="image/png" href="logo.png" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />

    <Routes @rendermode="InteractiveServer" />

    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/chessboard-1.0.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stockfish@16/dist/stockfish.wasm.js"></script>
    <script src="js/simple-bot.js"></script>
    <script src="js/stockfish-bridge.js"></script>
</body>

</html>